In [12]:
import pandas as pd
import sys
import os
sys.path.append("/Users/benpfeffer/Desktop/CODE/tools-for-finance/src/utils")

In [13]:
from config import TICKERS, DB, RAW, PROCESSED, COMPILED, HISTORY, FUNDAMENTAL_DATA_DIR

In [14]:
import os
import glob
import json
import pandas as pd

def compile_stock_data(folder_path, output_file):
    """
    Compile JSON files of stock fundamentals into a single CSV file.

    Parameters:
        folder_path (str): Path to the folder containing JSON files.
        output_file (str): Path to the output CSV file.
    """
    # List to store individual DataFrames for each JSON file
    data_frames = []
    
    # Create a list of JSON file paths
    json_files = glob.glob(os.path.join(folder_path, "*.json"))
    
    # Loop through each file, load the JSON data, normalize it, and add to list
    for file_path in json_files:
        with open(file_path, 'r') as file:
            try:
                data = json.load(file)
                # Flatten the JSON structure using pandas.json_normalize
                df = pd.json_normalize(data)
                data_frames.append(df)
            except json.JSONDecodeError as e:
                print(f"Error reading {file_path}: {e}")
    
    # Combine all DataFrames into a single DataFrame
    if data_frames:
        combined_df = pd.concat(data_frames, ignore_index=True)
        # Save the combined DataFrame to a CSV file
        combined_df.to_csv(output_file, index=False)
        print(f"Compiled data saved to {output_file}")
    else:
        print("No JSON files were found or parsed successfully.")

if __name__ == '__main__':
    # Path to the folder containing your 50 JSON files
    folder_path = FUNDAMENTAL_DATA_DIR
    # Path for the output CSV file
    output_file = 'compiled_stocks.csv'
    
    compile_stock_data(folder_path, output_file)

Compiled data saved to compiled_stocks.csv

/var/folders/8p/tyj3gj5j7f54558fzrt60f700000gn/T/ipykernel_80582/895324839.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(data_frames, ignore_index=True)

In [17]:
compile_stock_data = pd.read_csv('/Users/benpfeffer/Desktop/CODE/tools-for-finance/notebooks/compiled_stocks.csv')
compile_stock_data.head()

,address1,city,zip,country,phone,website,industry,industryKey,industryDisp,sector,...,irWebsite,bid,ask,enterpriseToEbitda,ebitda,ebitdaMargins,bidSize,askSize,address2,state
0,"25, Avenue Matignon",Paris,75008,France,33 1 40 75 57 00,https://www.axa.com,Insurance - Diversified,insurance-diversified,Insurance - Diversified,Financial Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Karakaari 7,Espoo,02610,Finland,358 1044 88000,https://www.nokia.com,Communication Equipment,communication-equipment,Communication Equipment,Technology,...,http://www.nokia.com/global/about-nokia/invest...,4.747,4.747,6.766,2.870000e+09,0.14515,NaN,NaN,NaN,NaN
2,Adi-Dassler-Strasse 1,Herzogenaurach,91074,Germany,49 91 32 84 0,https://www.adidas-group.com,Footwear & Accessories,footwear-accessories,Footwear & Accessories,Consumer Cyclical,...,http://www.adidas-group.com/en/investorrelatio...,255.100,255.200,35.663,1.387000e+09,0.06157,37900.0,75600.0,NaN,NaN
3,Santander Group City,Madrid,28660,Spain,34 912 89 00 00,https://www.santander.com,Banks - Diversified,banks-diversified,Banks - Diversified,Financial Services,...,http://www.santander.com/csgs/Satellite?appID=...,5.519,5.520,NaN,NaN,NaN,NaN,NaN,Av. de Cantabria s/n Boadilla del Monte,NaN
4,KOeniginstrasse 28,Munich,80802,Germany,49 89 3800 0,https://www.allianz.com,Insurance - Diversified,insurance-diversified,Insurance - Diversified,Financial Services,...,NaN,319.500,319.600,6.477,1.476300e+10,0.15156,214900.0,10000.0,NaN,NaN

In [21]:
compile_stock_data.drop(columns=['address1','city','zip','phone','website','industryKey','industryDisp','irWebsite','address2','state'], inplace=True)

In [ ]:
compile_stock_data.drop(columns=['address1','city','zip','phone','website','industryKey','industryDisp','irWebsite','address2','state'], inplace=True)

In [22]:
compile_stock_data.head()

,country,industry,sector,sectorKey,sectorDisp,longBusinessSummary,fullTimeEmployees,companyOfficers,auditRisk,boardRisk,...,financialCurrency,trailingPegRatio,fax,bid,ask,enterpriseToEbitda,ebitda,ebitdaMargins,bidSize,askSize
0,France,Insurance - Diversified,Financial Services,financial-services,Financial Services,"AXA SA, through its subsidiaries, provides ins...",94705,"[{'maxAge': 1, 'name': 'Dr. Thomas Buberl', '...",5,2,...,EUR,1.2566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Finland,Communication Equipment,Technology,technology,Technology,"Nokia Oyj provides mobile, fixed, and cloud ne...",86689,"[{'maxAge': 1, 'name': 'Mr. Pekka Ilmari Lundm...",1,1,...,EUR,1.5957,358 1044 81002,4.747,4.747,6.766,2.870000e+09,0.14515,NaN,NaN
2,Germany,Footwear & Accessories,Consumer Cyclical,consumer-cyclical,Consumer Cyclical,"adidas AG, together with its subsidiaries, des...",51561,"[{'maxAge': 1, 'name': 'Mr. Bjorn Gulden', 'a...",2,3,...,EUR,0.6127,49 91 32 84 0,255.100,255.200,35.663,1.387000e+09,0.06157,37900.0,75600.0
3,Spain,Banks - Diversified,Financial Services,financial-services,Financial Services,"Banco Santander, S.A. provides various financi...",208080,"[{'maxAge': 1, 'name': ""Ms. Ana Botin-Sanz de ...",2,8,...,EUR,2.6843,NaN,5.519,5.520,NaN,NaN,NaN,NaN,NaN
4,Germany,Insurance - Diversified,Financial Services,financial-services,Financial Services,"Allianz SE, together with its subsidiaries, pr...",157883,"[{'maxAge': 1, 'name': 'Mr. Oliver Bate', 'ag...",1,5,...,EUR,1.1962,NaN,319.500,319.600,6.477,1.476300e+10,0.15156,214900.0,10000.0